h1 {
    font-family: Arial, sans-serif;
    color: rgb(53, 53, 148);
    position: right;
}

p{
    font-size: small;
    position: ;
}

img{
    position: left;
    text-emphasis-position: ;
    
}

